In [7]:
#Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
import tensorflow as tf

# Import findspark and initialize. 
import findspark
findspark.init()

# Start Spark session
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Asteroid DataFrame").getOrCreate()
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

In [8]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/kat-project4-csv-site.click/dataset.csv"
spark.sparkContext.addFile(url)
spark_df = spark.read.csv(SparkFiles.get("dataset.csv"), sep=",", header=True)

# Show DataFrame
spark_df.show(10)


#If this takes forever to load. Interupt the kernal and then run it and it should load quickly.

+--------+-------+--------------+----+-------+------+---+---+----+--------+------+--------------+--------+---------+---------+----------------+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+--------------------+----------------+-----------------+----------------+-------+------------+----------+----------+----------+---------+---------+---------+---------+----------+----------+---------+---------+-----+------+
|      id|  spkid|     full_name|pdes|   name|prefix|neo|pha|   H|diameter|albedo|diameter_sigma|orbit_id|    epoch|epoch_mjd|       epoch_cal|equinox|                 e|                a|                q|                i|               om|                w|               ma|               ad|                n|                  tp|          tp_cal|              per|           per_y|   moid|     moid_ld|   sigma_e|   sigma_a|   sigma_q|  sigma_i| sigma_om|  sigma_w| sigma_ma|  sigma_ad|   sigma_n| sigma_tp|sigma_per|class|   rms|
+--------+-------+--------------+----+-------+------+---+---+----+--------+------+--------------+--------+---------+---------+----------------+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+--------------------+----------------+-----------------+----------------+-------+------------+----------+----------+----------+---------+---------+---------+---------+----------+----------+---------+---------+-----+------+
|a0000001|2000001|       1 Ceres|   1|  Ceres|  NULL|  N|  N| 3.4|   939.4| 0.090|           0.2|  JPL 47|2458600.5|    58600|20190427.0000000|  J2000| .0760090265983052|2.769165148633284|2.558683601195717|10.59406719506626|80.30553090445737|73.59769469844186|77.37209751948711|2.979646696070851|.2138852265918273|2458238.754129317955|20180430.2541293|1683.145702657688|4.60820178687936|1.59478| 620.6405326| 4.819E-12|1.0328E-11|1.9569E-11|4.6089E-9|6.1688E-8|6.6248E-8|7.8207E-9|1.1113E-11|1.1965E-12|3.7829E-8|9.4159E-9|  MBA|.43301|
|a0000002|2000002|      2 Pallas|   2| Pallas|  NULL|  N|  N| 4.2|     545| 0.101|            18|  JPL 37|2459000.5|    59000|20200531.0000000|  J2000| .2299722588646258|2.773841434873298|2.135934854363191|34.83293159121413|173.0247412488342|310.2023924446679|144.9756754788195|3.411748015383405| .213344586343708|2458320.962365774508|20180721.4623658|1687.410991624711|4.61987951163507|1.23429| 480.3486393| 3.1934E-8| 4.0337E-9| 8.8322E-8|3.4694E-6|6.2724E-6|9.1282E-6|8.8591E-6| 4.9613E-9|4.6536E-10|4.0787E-5|3.6807E-6|  MBA|.35936|
|a0000003|2000003|        3 Juno|   3|   Juno|  NULL|  N|  N|5.33| 246.596| 0.214|        10.594| JPL 112|2459000.5|    59000|20200531.0000000|  J2000| .2569364345017789| 2.66828528813587|1.982705579968687|12.99104349619575|169.8514824901798|248.0661932666256|125.4353546073513|3.353864996303052|.2261286975791392|2458445.792190021781|20181123.2921900| 1592.01376850459|4.35869614922543|1.03429| 402.5146393|  3.052E-8| 3.4718E-9| 8.1392E-8|3.2231E-6|1.6646E-5|1.7721E-5|8.1104E-6| 4.3639E-9|4.4134E-10|3.5288E-5|3.1072E-6|  MBA|.33848|
|a0000004|2000004|       4 Vesta|   4|  Vesta|  NULL|  N|  N| 3.0|   525.4|0.4228|           0.2|  JPL 35|2458600.5|    58600|20190427.0000000|  J2000|.08872145978916499|2.361417893971132|2.151909451245757|7.141771087953539|103.8108039679376|150.7285410950405|95.86193772405923|2.570926336696506|.2716094018601813|2458247.559575009090|20180509.0595750|1325.432763131374|3.62883713382991|1.13948| 443.4514316|2.3321E-10| 1.5143E-9| 1.9286E-9|2.1706E-7|3.8808E-7|1.7893E-7|1.2068E-6| 1.6486E-9|2.6125E-10|4.1037E-6|1.2749E-6|  MBA| .3998|
|a0000005|2000005|     5 Astraea|   5|Astraea|  NULL|  N|  N| 6.9| 106.699| 0.274|         3.140| JPL 114|2459000.5|    59000|20200531.0000000|  J2000| .1909133441041888|2.574037280352932|2.082619215311902|5.367427135741621|141.5710264957903|358.6484180421261|17.84634261488834|3.065455345393962|.2386612027776379|2458925.723109549499|20200317.2231095|1508.414420987454|4.12981360982191|1.09575| 426.4330275| 2.3737E-8| 3.9709E-9| 6.0924E-8|2.7408E-6|2.8949E-5|2.9842E-5|8.3038E-6|  4.729E-9|5.5227E-10|3.4743E-5|3.4905E-6|  MBA|.52191|
|a0000006|2000006|        6 Hebe|   6|   Hebe|  NULL|  N|  N| 5.8|  185.18|0.2679|           2.9|  JPL 89|2459000.5|    59000|20200531.0000000|  J2000| .2032188263290013|2.424532678799263|1.931821993417367|14.73965331578634|138.6434315232777|239.7362732125505|190.6864963203412|2.917243364181159| .261073030707869|2459649.029276350702|20220310.5292764|1378.924506387742|3.77528954520942|.973673|378.92432141| 1.9786E-8| 2.7482E-9| 4.8119E-8|2.1918E-6|1.1221E-5|1.3006E-5|7.3922E-6| 3.3067E-9|4.4388E-10|2.8754E-5|2.3445E-6|  MBA|.41032|
|a0000007|2000007|        7 Iris|   7|   Iris|  NULL|  N|  N| 5.6|  199.83|0.2766|          10.0|     110|2459000.5|    59000|20200531.0000000|  J2000| .2301450441723081|2.387375340730209|1.837932737481976|5.521598289470869|259.5639433694173| 145.201544600335|247.4258114624762|2.936817943978441|.2671917339417878|2459421.823619846900|20210726.3236198|1347.347070543851|3.68883523762861|.850693|331.06419481| 1.9919E-8| 2.0075E-9| 4.7488E-8|2.5825E-6|2.6412E-5|2.7075E-5|7.0147E-6| 2.4695E-9|3.3701E-10|2.6627E-5|1.6994E-6|  MBA|.38128|
|a0000008|2000008|       8 Flora|   8|  Flora|  NULL|  N|  N| 6.5| 147.491| 0.226|         1.025| JPL 118|2459000.5|    59000|20200531.0000000|  J2000| .1558327925788342|2.201414664735624|1.858362069905874|5.889080654551788|110.8765239101335|285.4589150695398|315.3180129948375|2.544467259565375| .301752787794208|2459148.574810946354|20201026.0748109|  1193.0295744128|3.26633695937796| .87598| 340.9051366| 2.3644E-8| 2.3084E-9|  5.176E-8|3.2403E-6| 2.432E-5|2.6646E-5|1.2092E-5| 2.6681E-9|4.7462E-10|4.0187E-5|1.8765E-6|  MBA|.54186|
|a0000009|2000009|       9 Metis|   9|  Metis|  NULL|  N|  N| 6.3|     190| 0.118|          NULL| JPL 116|2459000.5|    59000|20200531.0000000|  J2000| .1233002380520597|2.386189445512451|2.091971718843454|5.576493847075963| 68.9094592620561| 6.33732451976998|23.91220404136906|2.680407172181449|.2673909432494424|2458911.072124280732|20200302.5721243|1346.343281582895|3.68608701323175|1.10711| 430.8539987| 1.8414E-8| 3.0893E-9| 4.4258E-8|2.0074E-6| 2.417E-5|2.6008E-5|1.0366E-5| 3.4702E-9|5.1927E-10|3.8707E-5|2.6146E-6|  MBA|.44895|
|a0000010|2000010|     10 Hygiea|  10| Hygiea|  NULL|  N|  N| 5.5|  407.12|0.0717|           6.8|  JPL 96|2459000.5|    59000|20200531.0000000|  J2000| .1121173200748112|3.142435383511873| 2.79011394980426|3.831786065854603|283.1984443208443|312.4129316933437| 222.850543374369|3.494756817219485|.1769312474587196|2459775.656783188508|20220715.1567832|2034.688644152542|5.57067390596179| 1.7803|  692.839351| 1.6346E-8| 6.9236E-9| 5.0952E-8|2.1734E-6|2.8552E-5|3.0237E-5|1.1246E-5| 7.6998E-9|5.8474E-10|6.4829E-5|6.7244E-6|  MBA|.53434|
+--------+-------+--------------+----+-------+------+---+---+----+--------+------+--------------+--------+---------+---------+----------------+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+--------------------+----------------+-----------------+----------------+-------+------------+----------+----------+----------+---------+---------+---------+---------+----------+----------+---------+---------+-----+------+
only showing top 10 rows

In [9]:
#Convert the spark df to pandas
df = spark_df.select("*").toPandas()

In [10]:
#display the pandas DF
df.head()

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,diameter,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,a0000001,2000001,1 Ceres,1,Ceres,None,N,N,3.4,939.4,...,4.6089E-9,6.1688E-8,6.6248E-8,7.8207E-9,1.1113E-11,1.1965E-12,3.7829E-8,9.4159E-9,MBA,.43301
1,a0000002,2000002,2 Pallas,2,Pallas,None,N,N,4.2,545,...,3.4694E-6,6.2724E-6,9.1282E-6,8.8591E-6,4.9613E-9,4.6536E-10,4.0787E-5,3.6807E-6,MBA,.35936
2,a0000003,2000003,3 Juno,3,Juno,None,N,N,5.33,246.596,...,3.2231E-6,1.6646E-5,1.7721E-5,8.1104E-6,4.3639E-9,4.4134E-10,3.5288E-5,3.1072E-6,MBA,.33848
3,a0000004,2000004,4 Vesta,4,Vesta,None,N,N,3.0,525.4,...,2.1706E-7,3.8808E-7,1.7893E-7,1.2068E-6,1.6486E-9,2.6125E-10,4.1037E-6,1.2749E-6,MBA,.3998
4,a0000005,2000005,5 Astraea,5,Astraea,None,N,N,6.9,106.699,...,2.7408E-6,2.8949E-5,2.9842E-5,8.3038E-6,4.729E-9,5.5227E-10,3.4743E-5,3.4905E-6,MBA,.52191

In [11]:
#review all the column names
df.columns

Index(['id', 'spkid', 'full_name', 'pdes', 'name', 'prefix', 'neo', 'pha', 'H',
       'diameter', 'albedo', 'diameter_sigma', 'orbit_id', 'epoch',
       'epoch_mjd', 'epoch_cal', 'equinox', 'e', 'a', 'q', 'i', 'om', 'w',
       'ma', 'ad', 'n', 'tp', 'tp_cal', 'per', 'per_y', 'moid', 'moid_ld',
       'sigma_e', 'sigma_a', 'sigma_q', 'sigma_i', 'sigma_om', 'sigma_w',
       'sigma_ma', 'sigma_ad', 'sigma_n', 'sigma_tp', 'sigma_per', 'class',
       'rms'],
      dtype='object')

In [12]:
#Drop unnecessary columns that don't determine the hazardousness of an asteroid
df= df.drop(columns=['spkid','pdes','full_name','name','prefix','orbit_id','equinox'])
df.head()

,id,neo,pha,H,diameter,albedo,diameter_sigma,epoch,epoch_mjd,epoch_cal,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,a0000001,N,N,3.4,939.4,0.090,0.2,2458600.5,58600,20190427.0000000,...,4.6089E-9,6.1688E-8,6.6248E-8,7.8207E-9,1.1113E-11,1.1965E-12,3.7829E-8,9.4159E-9,MBA,.43301
1,a0000002,N,N,4.2,545,0.101,18,2459000.5,59000,20200531.0000000,...,3.4694E-6,6.2724E-6,9.1282E-6,8.8591E-6,4.9613E-9,4.6536E-10,4.0787E-5,3.6807E-6,MBA,.35936
2,a0000003,N,N,5.33,246.596,0.214,10.594,2459000.5,59000,20200531.0000000,...,3.2231E-6,1.6646E-5,1.7721E-5,8.1104E-6,4.3639E-9,4.4134E-10,3.5288E-5,3.1072E-6,MBA,.33848
3,a0000004,N,N,3.0,525.4,0.4228,0.2,2458600.5,58600,20190427.0000000,...,2.1706E-7,3.8808E-7,1.7893E-7,1.2068E-6,1.6486E-9,2.6125E-10,4.1037E-6,1.2749E-6,MBA,.3998
4,a0000005,N,N,6.9,106.699,0.274,3.140,2459000.5,59000,20200531.0000000,...,2.7408E-6,2.8949E-5,2.9842E-5,8.3038E-6,4.729E-9,5.5227E-10,3.4743E-5,3.4905E-6,MBA,.52191

In [14]:
#check number of entries in the dataset
len(df.index)

958524

In [37]:
#drop any rows with null values in them
df= df.dropna()

In [38]:
#check the number of entries after dropping rows
len(df.index)

131142

In [39]:
#set first column as the index
df = df.set_index('id')

In [40]:
#review datatypes
df.dtypes

neo                object
pha                object
H                 float64
diameter          float64
albedo            float64
diameter_sigma    float64
epoch             float64
epoch_mjd           int64
epoch_cal         float64
e                 float64
a                 float64
q                 float64
i                 float64
om                float64
w                 float64
ma                float64
ad                float64
n                 float64
tp                float64
tp_cal            float64
per               float64
per_y             float64
moid              float64
moid_ld           float64
sigma_e           float64
sigma_a           float64
sigma_q           float64
sigma_i           float64
sigma_om          float64
sigma_w           float64
sigma_ma          float64
sigma_ad          float64
sigma_n           float64
sigma_tp          float64
sigma_per         float64
class              object
rms               float64
dtype: object

In [41]:
#Encode neo and pha N and Y values as 0s and 1s

# Create a function to encode the N and Y values
def encode(value):
    if value =="Y":
        return 1
    else:
        return 0

# Call the encode_function on the neo and pha columns
df["neo"] = df["neo"].apply(encode)
df["pha"] = df["pha"].apply(encode)

#Review the df
df.head()

,neo,pha,H,diameter,albedo,diameter_sigma,epoch,epoch_mjd,epoch_cal,e,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
id,,,,,,,,,,,,,,,,,,,,,
a0000001,0,0,3.40,939.400,0.0900,0.200,2458600.5,58600,20190427.0,0.076009,...,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,MBA,0.43301
a0000002,0,0,4.20,545.000,0.1010,18.000,2459000.5,59000,20200531.0,0.229972,...,3.469400e-06,6.272400e-06,9.128200e-06,8.859100e-06,4.961300e-09,4.653600e-10,4.078700e-05,3.680700e-06,MBA,0.35936
a0000003,0,0,5.33,246.596,0.2140,10.594,2459000.5,59000,20200531.0,0.256936,...,3.223100e-06,1.664600e-05,1.772100e-05,8.110400e-06,4.363900e-09,4.413400e-10,3.528800e-05,3.107200e-06,MBA,0.33848
a0000004,0,0,3.00,525.400,0.4228,0.200,2458600.5,58600,20190427.0,0.088721,...,2.170600e-07,3.880800e-07,1.789300e-07,1.206800e-06,1.648600e-09,2.612500e-10,4.103700e-06,1.274900e-06,MBA,0.39980
a0000005,0,0,6.90,106.699,0.2740,3.140,2459000.5,59000,20200531.0,0.190913,...,2.740800e-06,2.894900e-05,2.984200e-05,8.303800e-06,4.729000e-09,5.522700e-10,3.474300e-05,3.490500e-06,MBA,0.52191

In [46]:
df['class'].unique()

array(['MBA', 'OMB', 'MCA', 'AMO', 'IMB', 'TJN', 'APO', 'ATE', 'CEN',
       'AST', 'TNO'], dtype=object)

In [47]:
#Encode class values as numbers

# Create a function to encode the N and Y values
def encode2(value):
    if value =="MBA":
        return 0
    elif value =="OMB":
        return 1
    elif value =="MCA":
        return 2
    elif value =="AMO":
        return 3
    elif value =="IMB":
        return 4
    elif value =="TJN":
        return 5
    elif value =="APO":
        return 6
    elif value =="ATE":
        return 7
    elif value =="CEN":
        return 8
    elif value =="AST":
        return 9
    else:
        return 10

# Call the encode_function on the neo and pha columns
df["class"] = df["class"].apply(encode2)

#Review the df
df.head()

,neo,pha,H,diameter,albedo,diameter_sigma,epoch,epoch_mjd,epoch_cal,e,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
id,,,,,,,,,,,,,,,,,,,,,
a0000001,0,0,3.40,939.400,0.0900,0.200,2458600.5,58600,20190427.0,0.076009,...,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,0,0.43301
a0000002,0,0,4.20,545.000,0.1010,18.000,2459000.5,59000,20200531.0,0.229972,...,3.469400e-06,6.272400e-06,9.128200e-06,8.859100e-06,4.961300e-09,4.653600e-10,4.078700e-05,3.680700e-06,0,0.35936
a0000003,0,0,5.33,246.596,0.2140,10.594,2459000.5,59000,20200531.0,0.256936,...,3.223100e-06,1.664600e-05,1.772100e-05,8.110400e-06,4.363900e-09,4.413400e-10,3.528800e-05,3.107200e-06,0,0.33848
a0000004,0,0,3.00,525.400,0.4228,0.200,2458600.5,58600,20190427.0,0.088721,...,2.170600e-07,3.880800e-07,1.789300e-07,1.206800e-06,1.648600e-09,2.612500e-10,4.103700e-06,1.274900e-06,0,0.39980
a0000005,0,0,6.90,106.699,0.2740,3.140,2459000.5,59000,20200531.0,0.190913,...,2.740800e-06,2.894900e-05,2.984200e-05,8.303800e-06,4.729000e-09,5.522700e-10,3.474300e-05,3.490500e-06,0,0.52191

In [48]:
# Remove target (pha) from features data
y = df.pha.values
X = df.drop(columns="pha").values


# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [49]:
# Preprocess numerical data for neural network

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

First Model

In [51]:
# Define the deep learning model 
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=36, activation="relu", input_dim=36))
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=10)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/10
3074/3074 [==============================] - 32s 9ms/step - loss: 3867.5671 - accuracy: 0.9950
Epoch 2/10
3074/3074 [==============================] - 31s 10ms/step - loss: 2761.2664 - accuracy: 0.9972
Epoch 3/10
3074/3074 [==============================] - 31s 10ms/step - loss: 2430.2292 - accuracy: 0.9968
Epoch 4/10
3074/3074 [==============================] - 31s 10ms/step - loss: 1727.9470 - accuracy: 0.9970
Epoch 5/10
3074/3074 [==============================] - 27s 9ms/step - loss: 986.0316 - accuracy: 0.9971
Epoch 6/10
3074/3074 [==============================] - 26s 8ms/step - loss: 547.6282 - accuracy: 0.9963
Epoch 7/10
3074/3074 [==============================] - 26s 8ms/step - loss: 209.2773 - accuracy: 0.9967
Epoch 8/10
3074/3074 [==============================] - 27s 9ms/step - loss: 106.9082 - accuracy: 0.9973
Epoch 9/10
3074/3074 [==============================] - 26s 8ms/step - loss: 8.0716 - accuracy: 0.9979
Epoch 10/10
3074/3074 [==============================] - 26s 8ms/step - loss: 0.0180 - accuracy: 0.9986
1025/1025 - 6s - loss: 0.0114 - accuracy: 0.9986 - 6s/epoch - 6ms/step
Loss: 0.011375168338418007, Accuracy: 0.9986274838447571

Notes: Our first model was very accurate (99.86% accuracy). Future models will see if we can achieve the same accuaracy, with less data.

Optimization Attempt #1

In [52]:
#Copy the processed df
df_no_sigma = df.copy()

#remove all "simgma" columns from the DF
df_no_sigma = df_no_sigma.drop(columns=['diameter_sigma','sigma_e', 'sigma_a', 'sigma_q', 'sigma_i', 'sigma_om', 'sigma_w','sigma_ma', 'sigma_ad', 'sigma_n', 'sigma_tp', 'sigma_per'])
df_no_sigma.head()

,neo,pha,H,diameter,albedo,epoch,epoch_mjd,epoch_cal,e,a,...,ad,n,tp,tp_cal,per,per_y,moid,moid_ld,class,rms
id,,,,,,,,,,,,,,,,,,,,,
a0000001,0,0,3.40,939.400,0.0900,2458600.5,58600,20190427.0,0.076009,2.769165,...,2.979647,0.213885,2.458239e+06,2.018043e+07,1683.145703,4.608202,1.59478,620.640533,0,0.43301
a0000002,0,0,4.20,545.000,0.1010,2459000.5,59000,20200531.0,0.229972,2.773841,...,3.411748,0.213345,2.458321e+06,2.018072e+07,1687.410992,4.619880,1.23429,480.348639,0,0.35936
a0000003,0,0,5.33,246.596,0.2140,2459000.5,59000,20200531.0,0.256936,2.668285,...,3.353865,0.226129,2.458446e+06,2.018112e+07,1592.013769,4.358696,1.03429,402.514639,0,0.33848
a0000004,0,0,3.00,525.400,0.4228,2458600.5,58600,20190427.0,0.088721,2.361418,...,2.570926,0.271609,2.458248e+06,2.018051e+07,1325.432763,3.628837,1.13948,443.451432,0,0.39980
a0000005,0,0,6.90,106.699,0.2740,2459000.5,59000,20200531.0,0.190913,2.574037,...,3.065455,0.238661,2.458926e+06,2.020032e+07,1508.414421,4.129814,1.09575,426.433027,0,0.52191

In [53]:
# Remove target (pha) from features data
y = df_no_sigma.pha.values
X = df_no_sigma.drop(columns="pha").values


# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [54]:
# Preprocess numerical data for neural network

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [55]:
# Define the deep learning model 
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=24, activation="relu", input_dim=24))
nn_model.add(tf.keras.layers.Dense(units=12, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=10)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/10
3074/3074 [==============================] - 18s 5ms/step - loss: 24425.8105 - accuracy: 0.9899
Epoch 2/10
3074/3074 [==============================] - 19s 6ms/step - loss: 63.4665 - accuracy: 0.9976
Epoch 3/10
3074/3074 [==============================] - 15s 5ms/step - loss: 1.0628 - accuracy: 0.9948
Epoch 4/10
3074/3074 [==============================] - 15s 5ms/step - loss: 0.0495 - accuracy: 0.9986
Epoch 5/10
3074/3074 [==============================] - 19s 6ms/step - loss: 0.0182 - accuracy: 0.9986
Epoch 6/10
3074/3074 [==============================] - 16s 5ms/step - loss: 0.0118 - accuracy: 0.9986
Epoch 7/10
3074/3074 [==============================] - 15s 5ms/step - loss: 0.0107 - accuracy: 0.9986
Epoch 8/10
3074/3074 [==============================] - 19s 6ms/step - loss: 0.0105 - accuracy: 0.9986
Epoch 9/10
3074/3074 [==============================] - 33s 11ms/step - loss: 0.0105 - accuracy: 0.9986
Epoch 10/10
3074/3074 [==============================] - 29s 9ms/step - loss: 0.0105 - accuracy: 0.9986
1025/1025 - 6s - loss: 0.0104 - accuracy: 0.9986 - 6s/epoch - 6ms/step
Loss: 0.010419368743896484, Accuracy: 0.9986274838447571

Notes: Sigma values in the data set don't impact the accuracy of training in determining if an asteroid is a potential hazard.

Optimization Attempt #2

In [59]:
#verifying that pha (potentialy hazardous asteroid) and neo (near earth object are not a total 1 to 1 relationship)
print(df['pha'].value_counts())

print(df['neo'].value_counts())

pha
0    130961
1       181
Name: count, dtype: int64
neo
0    130403
1       739
Name: count, dtype: int64

In [61]:
df_no_sigma.columns

Index(['neo', 'pha', 'H', 'diameter', 'albedo', 'epoch', 'epoch_mjd',
       'epoch_cal', 'e', 'a', 'q', 'i', 'om', 'w', 'ma', 'ad', 'n', 'tp',
       'tp_cal', 'per', 'per_y', 'moid', 'moid_ld', 'class', 'rms'],
      dtype='object')

In [62]:
#copy df with sigma coplumns removed
df3 = df_no_sigma.copy()

#remove additional columns of data
df3 = df3.drop(columns=['albedo', 'epoch', "epoch_mjd",	"epoch_cal", "e", "a", "q", "i", "om", "w", "ma", "ad", "n", "tp", "tp_cal",	"per", "per_y", "moid_ld"])

#display the new df
df3.head()

          neo  pha     H  diameter     moid  class      rms
id
a0000001    0    0  3.40   939.400  1.59478      0  0.43301
a0000002    0    0  4.20   545.000  1.23429      0  0.35936
a0000003    0    0  5.33   246.596  1.03429      0  0.33848
a0000004    0    0  3.00   525.400  1.13948      0  0.39980
a0000005    0    0  6.90   106.699  1.09575      0  0.52191

In [63]:
# Remove target (pha) from features data
y = df3.pha.values
X = df3.drop(columns="pha").values


# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [66]:
# Preprocess numerical data for neural network

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [67]:
# Define the deep learning model 
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=6))
nn_model.add(tf.keras.layers.Dense(units=3, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=10)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/10
3074/3074 [==============================] - 26s 7ms/step - loss: 0.1557 - accuracy: 0.9506
Epoch 2/10
3074/3074 [==============================] - 21s 7ms/step - loss: 0.0034 - accuracy: 0.9986
Epoch 3/10
3074/3074 [==============================] - 22s 7ms/step - loss: 0.0027 - accuracy: 0.9986
Epoch 4/10
3074/3074 [==============================] - 21s 7ms/step - loss: 0.0026 - accuracy: 0.9987
Epoch 5/10
3074/3074 [==============================] - 22s 7ms/step - loss: 0.0024 - accuracy: 0.9987
Epoch 6/10
3074/3074 [==============================] - 22s 7ms/step - loss: 0.0023 - accuracy: 0.9988
Epoch 7/10
3074/3074 [==============================] - 22s 7ms/step - loss: 0.0022 - accuracy: 0.9989
Epoch 8/10
3074/3074 [==============================] - 21s 7ms/step - loss: 0.0021 - accuracy: 0.9990
Epoch 9/10
3074/3074 [==============================] - 23s 8ms/step - loss: 0.0021 - accuracy: 0.9990
Epoch 10/10
3074/3074 [==============================] - 22s 7ms/step - loss: 0.0019 - accuracy: 0.9990
1025/1025 - 4s - loss: 0.0019 - accuracy: 0.9991 - 4s/epoch - 4ms/step
Loss: 0.0018512605456635356, Accuracy: 0.9990849494934082

Less information about the asteroid actually increased the accuracy of the model from 99.86% to 99.90%

Optimization Attempt #3

In [69]:
df4 = df3.copy()

df4= df4.drop(columns=['moid', 'class', 'rms']) 

df4.head()

          neo  pha     H  diameter
id
a0000001    0    0  3.40   939.400
a0000002    0    0  4.20   545.000
a0000003    0    0  5.33   246.596
a0000004    0    0  3.00   525.400
a0000005    0    0  6.90   106.699

In [70]:
# Remove target (pha) from features data
y = df4.pha.values
X = df4.drop(columns="pha").values


# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [71]:
# Preprocess numerical data for neural network

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [72]:
# Define the deep learning model 
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=3, activation="relu", input_dim=3))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=10)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/10
3074/3074 [==============================] - 23s 7ms/step - loss: 0.0196 - accuracy: 0.9986
Epoch 2/10
3074/3074 [==============================] - 21s 7ms/step - loss: 0.0078 - accuracy: 0.9986
Epoch 3/10
3074/3074 [==============================] - 21s 7ms/step - loss: 0.0051 - accuracy: 0.9986
Epoch 4/10
3074/3074 [==============================] - 21s 7ms/step - loss: 0.0042 - accuracy: 0.9986
Epoch 5/10
3074/3074 [==============================] - 21s 7ms/step - loss: 0.0040 - accuracy: 0.9986
Epoch 6/10
3074/3074 [==============================] - 21s 7ms/step - loss: 0.0038 - accuracy: 0.9986
Epoch 7/10
3074/3074 [==============================] - 22s 7ms/step - loss: 0.0037 - accuracy: 0.9986
Epoch 8/10
3074/3074 [==============================] - 22s 7ms/step - loss: 0.0037 - accuracy: 0.9986
Epoch 9/10
3074/3074 [==============================] - 23s 8ms/step - loss: 0.0036 - accuracy: 0.9986
Epoch 10/10
3074/3074 [==============================] - 22s 7ms/step - loss: 0.0036 - accuracy: 0.9986
1025/1025 - 4s - loss: 0.0039 - accuracy: 0.9986 - 4s/epoch - 4ms/step
Loss: 0.0038566505536437035, Accuracy: 0.9986274838447571

Accuracy went back down to our starting point. Removing moid, class, and rms did help determine which asteroids are hazardous and which are not.

Final Optimization Attempt

Df3 gave us the most accurate Model. In this final attempt, we will recreate the df only using these columns and removing null values from these columns. This will ideally give us more data to train the model with.

In [87]:
df5 = pd.read_csv('Resources\dataset.csv', low_memory=False)

df5.head()

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,diameter,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,a0000001,2000001,1 Ceres,1,Ceres,NaN,N,N,3.40,939.400,...,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,MBA,0.43301
1,a0000002,2000002,2 Pallas,2,Pallas,NaN,N,N,4.20,545.000,...,3.469400e-06,6.272400e-06,9.128200e-06,8.859100e-06,4.961300e-09,4.653600e-10,4.078700e-05,3.680700e-06,MBA,0.35936
2,a0000003,2000003,3 Juno,3,Juno,NaN,N,N,5.33,246.596,...,3.223100e-06,1.664600e-05,1.772100e-05,8.110400e-06,4.363900e-09,4.413400e-10,3.528800e-05,3.107200e-06,MBA,0.33848
3,a0000004,2000004,4 Vesta,4,Vesta,NaN,N,N,3.00,525.400,...,2.170600e-07,3.880800e-07,1.789300e-07,1.206800e-06,1.648600e-09,2.612500e-10,4.103700e-06,1.274900e-06,MBA,0.39980
4,a0000005,2000005,5 Astraea,5,Astraea,NaN,N,N,6.90,106.699,...,2.740800e-06,2.894900e-05,2.984200e-05,8.303800e-06,4.729000e-09,5.522700e-10,3.474300e-05,3.490500e-06,MBA,0.52191

In [88]:
df5 = df5.drop(columns=['spkid', 'full_name', 'pdes', 'name', 'prefix', 'albedo', 'diameter_sigma', 'orbit_id', 'epoch',
       'epoch_mjd', 'epoch_cal', 'equinox', 'e', 'a', 'q', 'i', 'om', 'w',
       'ma', 'ad', 'n', 'tp', 'tp_cal', 'per', 'per_y', 'moid_ld',
       'sigma_e', 'sigma_a', 'sigma_q', 'sigma_i', 'sigma_om', 'sigma_w',
       'sigma_ma', 'sigma_ad', 'sigma_n', 'sigma_tp', 'sigma_per'])

df5 = df5.set_index("id")

df5.head()

         neo pha     H  diameter     moid class      rms
id
a0000001   N   N  3.40   939.400  1.59478   MBA  0.43301
a0000002   N   N  4.20   545.000  1.23429   MBA  0.35936
a0000003   N   N  5.33   246.596  1.03429   MBA  0.33848
a0000004   N   N  3.00   525.400  1.13948   MBA  0.39980
a0000005   N   N  6.90   106.699  1.09575   MBA  0.52191

In [89]:
df5 = df5.dropna()

In [90]:
#There are only a few 1000 more cases so this may not impact accuracy much
len(df5.index)

132045

In [91]:
#Encode neo and pha N and Y values as 0s and 1s

# Call the encode_function on the neo and pha columns
df5["neo"] = df5["neo"].apply(encode)
df5["pha"] = df5["pha"].apply(encode)

#Review the df
df5.head()

          neo  pha     H  diameter     moid class      rms
id
a0000001    0    0  3.40   939.400  1.59478   MBA  0.43301
a0000002    0    0  4.20   545.000  1.23429   MBA  0.35936
a0000003    0    0  5.33   246.596  1.03429   MBA  0.33848
a0000004    0    0  3.00   525.400  1.13948   MBA  0.39980
a0000005    0    0  6.90   106.699  1.09575   MBA  0.52191

In [92]:
#Encode class values as numbers

# Call the encode_function on the neo and pha columns
df5["class"] = df5["class"].apply(encode2)

#Review the df
df5.head()

          neo  pha     H  diameter     moid  class      rms
id
a0000001    0    0  3.40   939.400  1.59478      0  0.43301
a0000002    0    0  4.20   545.000  1.23429      0  0.35936
a0000003    0    0  5.33   246.596  1.03429      0  0.33848
a0000004    0    0  3.00   525.400  1.13948      0  0.39980
a0000005    0    0  6.90   106.699  1.09575      0  0.52191

In [93]:
# Remove target (pha) from features data
y = df5.pha.values
X = df5.drop(columns="pha").values


# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [94]:
# Preprocess numerical data for neural network

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [95]:
# Define the deep learning model 
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=6))
nn_model.add(tf.keras.layers.Dense(units=3, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=10)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/10
3095/3095 [==============================] - 24s 7ms/step - loss: 0.0429 - accuracy: 0.9983
Epoch 2/10
3095/3095 [==============================] - 23s 7ms/step - loss: 0.0033 - accuracy: 0.9983
Epoch 3/10
3095/3095 [==============================] - 22s 7ms/step - loss: 0.0032 - accuracy: 0.9983
Epoch 4/10
3095/3095 [==============================] - 22s 7ms/step - loss: 0.0031 - accuracy: 0.9983
Epoch 5/10
3095/3095 [==============================] - 22s 7ms/step - loss: 0.0030 - accuracy: 0.9983
Epoch 6/10
3095/3095 [==============================] - 22s 7ms/step - loss: 0.0029 - accuracy: 0.9983
Epoch 7/10
3095/3095 [==============================] - 23s 7ms/step - loss: 0.0028 - accuracy: 0.9985
Epoch 8/10
3095/3095 [==============================] - 22s 7ms/step - loss: 0.0026 - accuracy: 0.9987
Epoch 9/10
3095/3095 [==============================] - 23s 7ms/step - loss: 0.0026 - accuracy: 0.9987
Epoch 10/10
3095/3095 [==============================] - 23s 7ms/step - loss: 0.0025 - accuracy: 0.9987
1032/1032 - 5s - loss: 0.0022 - accuracy: 0.9991 - 5s/epoch - 5ms/step
Loss: 0.002222395036369562, Accuracy: 0.9990609288215637

Model Accuracy is back up to 99.9% with the 6 features from df3 and slightly more data for training.